<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springcloud.payment.dao.OrderDAO">

    <resultMap id="BaseResultMap" type="org.example.springcloud.entities.Order">
        <id column="id" property="id" jdbcType="INT"/>
        <id column="serial_no" property="serialNo" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into order(serial_no) values (#{serialNo})
    </insert>

    <select id="getBySerialNo" parameterType="String" resultType="BaseResultMap">
        select * from order where serial_no = #{serialNo}
    </select>
</mapper>